* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita scroll innecesario */
}

.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.inicio-button {
    padding: 10px 20px;
    font-size: 18px;
    color: black;
    background-color: #EDF2F4;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin-top: 78vh; /* Baja el botón hacia la parte inferior */
}

/* MEDIA QUERIES para hacer responsive */

/* Para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    .inicio-button {
        font-size: 16px;
        padding: 8px 16px;
        margin-top: 85vh; /* Más cerca del borde inferior */
    }
}

/* Para tablets */
@media (min-width: 601px) and (max-width: 900px) {
    .inicio-button {
        font-size: 17px;
        padding: 9px 18px;
        margin-top: 80vh;
    }
}

