* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #EDF2F4;
}

.banner {
    width: 100%;
    height: 700px;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes banner {
    0%, 20% {
        background-image: url('/static/img/banner1.jpg');
    }
    25%, 45% {
        background-image: url('/static/img/banner2.jpg');
    }
    50%, 70% {
        background-image: url('/static/img/banner3.jpg');
    }
    75%, 100% {
        background-image: url('/static/img/banner4.jpg');
    }
}

.capa-banner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;             
    justify-content: center;  
    align-items: center;
    z-index: 1; /* Debe estar detrás de .info */
}

.info {
    z-index: 2; /* Asegura que esté por encima */
    text-align: center;
    max-width: 550px;
    width: 100%;
    position: relative; /* Asegura que no se vea afectado por flex */
}

.info h1 {
    color: #ffffff;
    font-size: 45px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.info p {
    color: #c7c7c7;
    line-height: 1.7;
    margin-bottom: 30px;
}

.info a {
    color: #ffffff;
    text-decoration: none;
    background: #8D99AE;
    padding: 16px 37px;
    display: inline-block;
    border-radius: 50px;
}

/* Cajas(2) */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.box {
    width: 500px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 30px;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    transform: scale(0);
    transition: .3s ease;
}

.box:hover .capa {
    transform: scale(1);
}

@media only screen and (max-width:900px) {
    .container {
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
    }
}

/* Sobre Nosotros */
.container2,
.box2,
.titulo,
.content,
.redes-sociales {
  width: 100%;
}

.container2 {
  max-width: 1150px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  color: #7a7a7a;
  line-height: 1.7;
}

.titulo {
  max-width: 600px;
  margin: auto;
  margin-bottom: 60px;
}

.titulo h1 {
  margin-bottom: 25px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 55px;
}

.box2 figure {
  width: 100%;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.box2 figure img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.box2:hover h4 {
  color: #2B2D42;
}

/*¿Quieres unirte?*/
.container-card {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.title-cards {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #7a7a7a;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
}

.card .contenido-card {
    padding: 15px;
    text-align: center;
}

.card .contenido-card h3 {
    margin-bottom: 15px;
    color: #7a7a7a;
}

.card .contenido-card p {
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}

.card .contenido-card a.btn-inscribirse {
    display: inline-block;
    padding: 10px 25px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #EDF2F4;                /* Texto blanco */
    background-color: #8D99AE;  /* Gris */
    border: none;
    border-radius: 6px;         /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;      /* Quitar subrayado */
    user-select: none;
}

.card .contenido-card a.btn-inscribirse:hover {
    background-color: #6b7482;  /* Gris oscuro al pasar el mouse */
    color: #fff;
}

.card .contenido-card a:hover {
    background: #8D99AE;
    color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .container-card {
      flex-wrap: wrap;
    }
    .card {
      margin: 15px;
    }
}

.btn-inscribirse.inscrito {
    background-color: green !important;
    color: white !important;
    pointer-events: none; /* Para que no se pueda volver a clicar */
    cursor: default;
}
