.pago-finalizado {
    text-align: center;
    margin-top: 100px;
}

.mensaje {
    font-size: 40px;
    color: green;
    font-weight: bold;
}

.check-imagen img {
    width: 100px;  
    height: auto;
    margin-top: 20px;
}
