{% extends 'base.html' %}

{% block content %}
<div id="cookie-popup" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); align-items: center; justify-content: center; z-index: 9999;">
  <div style="background: white; padding: 20px; border-radius: 10px; text-align: center; max-width: 500px; box-shadow: 0px 0px 15px rgba(0,0,0,0.3); position: relative;">
      <button onclick="closePopup()" style="position: absolute; top: 10px; right: 10px; background: none; border: none; font-size: 20px; cursor: pointer;">✖</button>
      <h2>Cómo proteger tu privacidad</h2>
      <p style="font-size: 14px; color: #333;">
          Utilizamos cookies de seguimiento para que nuestra página web pueda funcionar. Para poder mejorar y personalizar tu experiencia, también utilizamos las opciones de seguimiento analítico, de personalización y de marketing. Así podemos brindarte mejores contenidos y ofertas. Al aceptarlas, nuestras cookies realizarán en tu dispositivo el seguimiento de tu perfil para mejorar tu experiencia. Si decides no aceptarlas, tal vez no puedas acceder a ciertas funciones de nuestra página y tu experiencia será menos personalizada. Para más información, consulta nuestro 
          <!-- <a href="#" style="color: blue; text-decoration: underline;">Aviso de Privacidad</a>. -->
      </p>
      <button onclick="acceptCookies()" style="background: #007bff; color: white; padding: 10px 20px; border: none; cursor: pointer; margin-top: 10px; border-radius: 5px;">Aceptar</button>
  </div>
</div>

<script src="{{ url_for('static', filename='js/cookies.js') }}"></script>



<body>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">

<!-- Banner -->
  <div class="banner">
      <div class="capa-banner">
          <div class="info">
              <h1>Bienvenidos a SPORTSHOP</h1>
              <p>Escríbenos y te responderemos en breve.</p>
              <a href="{{ url_for('contactanos') }}">Contactar</a>
          </div>
      </div>
  </div>

      <!-- Cajas -->
  <div class="container">
    <div class="box">
        <a href="{{ url_for('futbol') }}">
            <img src="{{ url_for('static', filename='img/vini.jpg') }}">
            <div class="capa">
                <h2>FUTBOL</h2>
            </div>
        </a>
    </div>
        
    <div class="box">
        <a href="{{ url_for('padel') }}">
            <img src="{{ url_for('static', filename='img/coello.jpg') }}">
            <div class="capa">
                <h2>PADEL</h2>
            </div>
        </a>
    </div>
  </div>

<!-- Sobre nosotros -->
  <div class="container2">
      <div class="titulo">
        <h1>Sobre Nosotros</h1>
        <p>
          Nuestra empresa de venta online se destaca por su innovación, rapidez y confiabilidad, ofreciendo productos exclusivos con un servicio eficiente y seguro. Nos enfocamos en brindar una experiencia de compra única, con atención personalizada y envíos rápidos para garantizar la satisfacción de nuestros clientes.
        </p>
      </div>
      <div class="content">
        <div class="box2">
          <figure>
            <img src="{{ url_for('static', filename='img/creatividad.png') }}"/>
          </figure>
          <div class="name">
            <h4>Innovadora</h4>
          </div>
        </div>

        <div class="box2">
          <figure>
            <img src="{{ url_for('static', filename='img/velocimetro.png') }}"/>
          </figure>
          <div class="name">
            <h4>Rapida</h4>
          </div>
        </div>

        <div class="box2">
          <figure>
            <img src="{{ url_for('static', filename='img/confiable.png') }}"/>
          </figure>
          <div class="name">
            <h4>Confiable</h4>
          </div>
        </div>

        <div class="box2">
          <figure>
            <img src="{{ url_for('static', filename='img/exclusivo.png') }}"/>
          </figure>
          <div class="name">
            <h4>Exclusiva</h4>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<!-- ¿Quieres unirte? -->
<div class="title-cards">
  <h2>¿Quieres unirte?</h2>
</div>
<div class="container-card">
  <div class="card">
    <figure>
      <img src="{{ url_for('static', filename='img/almacen.jpg') }}" />
    </figure>
    <div class="contenido-card">
      <h3>Almacen</h3>
      <p>
        Encargado de la recepción, organización y despacho de productos. 
        Trabajo en equipo y manejo de inventario.
      </p>
      <a href="#" class="btn-inscribirse">Inscríbete</a>
    </div>
  </div>
  <div class="card">
    <figure>
      <img src="{{ url_for('static', filename='img/at.cliente.jpg') }}" />
    </figure>
    <div class="contenido-card">
      <h3>At. Cliente</h3>
      <p>
        Brindan soporte, asesoramiento y resolución de consultas. 
        Empatía y habilidades comunicativas son clave.
      </p>
      <a href="#" class="btn-inscribirse">Inscríbete</a>
    </div>
  </div>
  <div class="card">
    <figure>
      <img src="{{ url_for('static', filename='img/desarrollo_web.jpg') }}" />
    </figure>
    <div class="contenido-card">
      <h3>Desarrollo Web</h3>
      <p>
        Desarrollador web con conocimientos en HTML, CSS, JavaScript y frameworks modernos.
        
      </p>
      <a href="#" class="btn-inscribirse">Inscríbete</a>
    </div>
  </div>
</div>

  </div>

  <br>
  <br>
  <br>
  
</body>

<script src="{{ url_for('static', filename='js/inicio.js') }}"></script>

{% endblock %}