<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pago Finalizado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pago_procesado.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="contenedor-centro">
    <div class="pago-finalizado">
        <h1 class="mensaje">Pago finalizado correctamente</h1>
        <div class="check-imagen">
            <!-- Usando url_for para generar la ruta relativa del home -->
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='img/check-verde.jpg') }}" alt="Check Verde">
            </a>
        </div>
    </div>
</div>

</body>
</html>
