<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
  <title>Registro</title>
</head>
<body>
  <div class="wrapper">
    <form method="POST" action="{{ url_for('register') }}" autocomplete="off">
      <h2>Registrarse</h2>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <div class="input-field">
        <input type="text" name="name" required>
        <label>Usuario</label>
      </div>

      <div class="input-field">
        <input type="password" name="password" required>
        <label>Contraseña</label>
      </div>

      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Recordar</p>
        </label>
      </div>

      <button type="submit" class="btn">Registrarse</button>

      <div class="register">
        <p>¿Ya tienes cuenta? <a href="{{ url_for('login') }}">Inicia sesión</a></p>
      </div>
    </form>
  </div>
</body>
</html>
